<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF RAG based Question Answering Chatbot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>

  <div class="container">

    <div class="sidebar">
      <h2>📄 Documents</h2>
      <div class="document-upload">
        <input type="file" id="pdfUpload" name = "pdf"> <br>
        <button type="button" id="upload-file" onclick="uploadFile()">Upload</button>
      </div>
      <div class="document-list">
        <div class="doc-item" id="uploadedFile">
        </div>
      </div>
    </div>

    <div class="chat-section">
      <div class="header">
        <h1>PDF Question Answering Chatbot</h1>
      </div>

      <div class="chat-container" id="chatContainer">

        <div class="bot-message">
          Hello! Upload a PDF and ask questions.
        </div>

      </div>

      <div class="input-area">

        <input type="text" id="questionInput" placeholder="Ask a question about your PDF...">

        <button id="sendBtn", onclick="sendMessage()">
          Send
        </button>

      </div>

    </div>

  </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>